/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* base styles */
body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    line-height: 1.2rem;
}

header {
    color: #ffffff;
    background-color: #002266;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#three-column   {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#three-column > * {
    padding: 10px;
    flex-grow: 1;
    border: 1px solid green;
}

nav > ul{
    list-style-type: none;
    li {
        padding: 5px;
        background-color: #dddddd;
        border-radius: 4px;
        text-align: center;
        margin: 0.5rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: #bbbbbb;
            cursor: pointer;
        }

        &.selected {
            border: 1px solid #000000;
        }

    }
}

#three-column > main {
    flex-grow: 4;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #eeeeee;
}

a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color: #000000;
}

