
.grid-header {grid-area: grid-header;}
.username {grid-area: username;}
.password {grid-area: password;}
.email {grid-area: email;}
.role {grid-area: role;}

.username-input {grid-area: username-input;}
.password-input {grid-area: password-input;}
.email-input {grid-area: email-input;}
.role-input {grid-area: role-input;}
.error-message {grid-area: error-message;}
.grid-footer {grid-area: grid-footer;}


.grid-container {
    display: grid;
    grid-template-areas:
            "grid-header grid-header"
            "movie-title title-input"
            "movie-rating rating-input"
            "error-message error-message"
            "grid-footer grid-footer"
;
    border: 1px solid black;
}

.grid-container > div {
    border: 1px solid black;
    text-align: center;
}

.grid-container input[type="text"],
.grid-container input[type="password"] {
    width: 98%;
    margin: 0 2px;
}

.error p {
    color: red;
}

.hidden {
    display: none;
}

